*{
    padding: 0;
    margin: 0;
}

nav{
    height: 90px;
    width: 100%;
    display: flex;
    background-color: brown;
    position: fixed;
}
body{
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
}

#banner{
    width: 100%;
    height: 1100px;
    background-color: darkgreen;
    
}

#noticias-cont{
    width: 100%;
    height: 1150px;
    background-color: darkorchid;
  
}

#semana-cont{
    width: 100%;
    height: 2200px;
    background-color: rgb(255, 129, 196);
    
}

#media-cont{
    width: 100%;
    height: 600px;


}
#titulo{
    font-family: 'Red Hat Text', sans-serif;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cuadrado{
    width: 45%;
    height: 55%;
    margin-top: 2%;
    background-color: rgba(255, 255, 255, 0.781);
    display: flex;
    flex-direction: row;
    margin-left: 26%;

}
 

#cuadrado-contenedor{
    width: 40%;
    height: 80%;
    align-content: center;
    margin-left: 7%;
    margin-top: 5% ;  
}
#foto{
    

    width: 484px;
    height: 512px;
    left: 330px;
    top: 5099px;
}
#playlist{
    font-family: 'Red Hat Text', sans-serif;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 80%;
    margin-left: 5%;
    margin-top: 7%;
}
#subtitulo{
    font-size: 25px;
}

.btn {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 42%;
    margin-top: 3%;
    
  }
  
  
  .btn:hover {background: rgba(255, 255, 255, 0.74);}
  .spotify {color: orange;}



#galeria-cont{
    width: 100%;
    height: 2400px;
    background-color: lightskyblue;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#contenedor{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 30%;
    justify-content: center;
   }


#cuadrado1, #cuadrado2, #cuadrado3, #cuadrado4, #cuadrado1b, #cuadrado2b, #cuadrado3b, #cuadrado4b, #cuadrado1c, #cuadrado2c, #cuadrado3c, #cuadrado4c{
    width: 280px;
    height: 280px;
    background-color: lightgreen;
    
    
    
}
#cuadrado1{
    background-image: url(https://i.pinimg.com/564x/6e/73/0c/6e730cd9c963418e68f0725790b4b819.jpg);  
    background-position: center;
    background-size: auto;
}

#cuadrado2{
    background-image: url(https://i.pinimg.com/564x/e3/22/68/e3226815da992b74749c4af7b36501dd.jpg);
    background-position: center;
    background-size: auto;
}

#cuadrado3{
    background-image: url(https://i.pinimg.com/564x/a9/85/e1/a985e108db6fa39e1d57ef800e34bb70.jpg);
    background-position: center;
    background-size: auto;
}

#cuadrado4{
    background-image: url(https://i.pinimg.com/564x/31/51/f1/3151f154393b9bbc00b427427c296c36.jpg);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 280px;
    height: 280px;  
}

#cuadrado1b{
    background-image: url(https://i.pinimg.com/564x/1a/82/9b/1a829b4fc6d3d9eb1a53f1d098be9022.jpg);
    background-position: center;
    background-size: auto;
}

#cuadrado2b{
    background-image: url(https://i.pinimg.com/564x/a6/3d/f4/a63df4934c023cb31018a0c0a7fa1391.jpg);
    background-position: center;
    background-size: auto;
}

#cuadrado3b{
    background-image: url(https://i.pinimg.com/564x/4e/3e/37/4e3e37aa50cf83019e723551574d0280.jpg); 
    background-position: center;
    background-size: auto;  
}

#cuadrado4b{
    background-image: url(https://i.pinimg.com/564x/19/d7/7a/19d77ade0b8dc20ec46dd063a577b93d.jpg);  
    background-position: center;
    background-size: auto;
}

#cuadrado1c{
    background-image: url(https://i.pinimg.com/564x/2d/a5/62/2da5620ed12d0ed2fa2e8bc587a13bd8.jpg);
    background-position: center;
    background-size: auto;
}

#cuadrado2c{
    background-image: url(https://i.pinimg.com/564x/27/f9/5f/27f95f8eaac03aae2ca4999d245a9c1f.jpg);
    background-position: center;
    background-size: auto;
}

#cuadrado3c{
    background-image: url(https://i.pinimg.com/564x/c8/8c/74/c88c74cca65d96c5f5713ee891cd7529.jpg);
    background-position: center;
    background-size: auto;
}

#cuadrado4c{
    background-image: url(https://i.pinimg.com/564x/ee/8d/b2/ee8db2728fcc1089fb3dec568e8bc6ed.jpg);
    background-position: center;
    background-size: auto;
}


.flip-card {
    
    background-color: transparent;
    width: 280px;
    height: 280px;
    
    perspective: 1000px; 
  }
  
 
  .flip-card-inner {
    
    width: 280px;
    height: 280px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 280px;
    height: 280px;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  

  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  

  .flip-card-back {
    background-color: rgb(70, 116, 161);
    color: white;
    transform: rotateY(180deg);
    font-family: 'Red Hat Text', sans-serif;
    align-self: center;

    }


#titulo{
    margin-top: 10%;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

















#resumen-cont{
    width: 100%;
    height: 1460px;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
  }
  
  .container {
    position: absolute;
    width: 1040px;
    height: 600px;
    
  }
  
  .mySlides {
    display: none;
    
  }
  
  .cursor {
    cursor: pointer;
    
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    font-family: 'Red Hat Text', sans-serif;
    
  }
  
  .caption-container {
    height: 40px;
    text-align: center;
    text-justify: center;
    background-color: #222;
    margin-top: -4px;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 20pt;
    font-weight: 500;
    
  }

  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
    
  }
  
  .column {
    float: left;
    width: 16.66%;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
    transition-duration: 0.3s;
  }

  .cont-resumen-texto {
    
    max-width: 800px; 
    
  }
  
  .cont-resumen-texto .resumen-texto {
    position: absolute;
    margin-top: 300px;
   
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: white; 
    width: 1040px;
    font-family: 'Red Hat Text', sans-serif;
    text-justify: center;
    text-align: center;
    
  }
  .texto-resumen-final{
    margin: 20px 50px 20px 50px;
    font-size: 20pt;
  }

  p.resumen-texto{
      margin-left: 50px;
  }

#opinion-cont{
    width: 100%;
    height: 1000px;
    background-color: #3F5D73;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#op-titulo{
    width: 1630px;
    height: 280px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
   
}
#op-img{
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin-left: 50px;
    background-image: url(./img/mariana/user.png);
    background-position: center;
    background-size: contain;
}
#op-titulo-cont{
    width: 380px;
    height: 200px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#user-name{
    width: 160px;
    height: 50px;
    margin-left: 20px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: italic;
    color: white;
    font-size: 23pt;
    display: flex;
    align-items: center;
    
}
#movie-title{
    width: 710px;
    height: 90px;
    margin-left: 20px;
    font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 53pt;
    display: flex;
    align-items: center;
}
#stars{
    width: 250px;
    height: 60px;
    margin-left: 20px;
    color: yellow;
    font-size: 45pt;
    display: flex;
    align-items: center;
}


#op-texto{
    width: 1550px;
    height: 470px;
    margin-top: 20px;
    color: white;
    font-family: 'Red Hat Text', sans-serif;
    font-style: italic;
    font-size: 30pt;
}



#contacto-cont{
    width: 100%;
    height: 900px;
    background-color: #F7BD37;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#mapa{
  height: 900px;
  width: 1230px;
  
}
#contactanos-cont{
  height: 850px;
  width: 570px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  
}
#contactanos-titulo{
  width: 470px;
  height: 80px;
  font-family: 'Red Hat Text', sans-serif;
    font-weight: 500;
    color: white;
  display: flex;
  align-items: center;
  font-size: 50pt;

}
.contacto-items{
  width: 560px;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.line-cont{
  width: 560px;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#contacto-icons1{
  width: 140px;
  height: 140px;
  background-image: url(./img/mariana/pin-icon.png);
  background-size: cover;
  background-position: center;
}
#contacto-icons2{
  width: 140px;
  height: 140px;
  background-image: url(./img/mariana/horario-icon.png);
  background-size: cover;
  background-position: center;
  
}
#contacto-icons3{
  width: 140px;
  height: 140px;
  background-image: url(./img/mariana/message-icon.png);
  background-size: 140px;
  background-repeat: no-repeat;
  background-position: center;
}
.contacto-text-cont{
  width: 380px;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
#line-text-cont{
  width: 380px;
  height: 275px;
  display: flex;
  
  justify-content: space-evenly;
  flex-direction: column;
}
.contacto-text{
  width: 330px;
  height: 50px;
  font-family: 'Red Hat Text', sans-serif;
  color: black;
  font-weight: 500;
  font-size: 23pt;
}
.contacto-text-2{
  width: 330px;
  height: 50px;
  font-family: 'Red Hat Text', sans-serif;
  color: white;
  font-size: 16pt;
  display: flex;
  
  flex-direction: column;
}
#contacto-text-line{
  width: 330px;
  height: 50px;
  font-family: 'Red Hat Text', sans-serif;
  color: black;
  font-weight: 500;
  font-size: 20pt;
}
#contacto-text-line-2{
  width: 330px;
  height: 50px;
  font-family: 'Red Hat Text', sans-serif;
  color: white;
  font-size: 16pt;
  display: flex;
  
  flex-direction: column;
}
#qr-line{
  width: 160px;
  height: 160px;
  background-image: url(./img/mariana/qr-code.png);
  background-size: cover;
  background-position: center;
}







footer{
    
    width: 100%;
    height: 500px;
    background: #1E4365;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
#footer-text-cont{
  width: 550px;
  height: 290px;

 
  
  display: flex;
  flex-direction: column;
  
  
}
#titulo-redes{
  height: 70px;
  width: 550px;

  color: white;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 47pt;
  font-weight: 500;
}
#botones-redes{
  width: 170px;
  height: 170px;

  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-decoration: none;
}
a:link{
  text-decoration: none;
  color: white;
}
a:visited{
  text-decoration: none;
  color: white;
}
.redes{
  color: white;
  font-family: 'Red Hat Text', sans-serif;
  background-color: transparent;
  display: flex;
  border-style: none;
  text-decoration: none;
  font-size: 25pt;
  margin-top: 10px;
  justify-items: left;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.redes span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.redes span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.redes:hover span {
  padding-right: 25px;
}

.redes:hover span:after {
  opacity: 1;
  right: 0;
}

#linea-footer{
  height: 260px;
  width: 2px;
  background-color: white;
  display: flex;
}
